body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.pricing-card {
  background-color: lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.pricing-card:hover {
  transform: scale(1.05);
}

.card-header {
  background-color:black;
  color: #fff;
  padding: 60px;
  text-align: center;
}

.card-header h2 {
  margin: 0;
}
.card-header h3 {
  margin: 0;
  font-size: 20px;
}
.card-body {
  padding: 20px;
}

.price {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 100px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}
